html,body{
  height: 100%;
}

.wrapper {
  height: 100%;
}
.parent {
    display: table;
    table-layout: fixed;
}

.child {
    position: center center;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.sorudiv
{	
	height: 300px;
	width: 600px;
}


div {
  margin: 0 auto;
  color: white;
  margin: auto auto;
}

p
{
  color: white;
}
.centerImg{
    margin: 0 auto;
    display: block;
    
}