<!DOCTYPE html>
<html>
<head>
  <!-- meta tagları Kütüphanesi -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  

  <!-- Materialize JS Kütüphanesi -->
    <script src="../js/jquery-2.2.1.min.js"></script>
    <script src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>

    <!-- Materialize CSS Kütüphanesi-->
    <link href="../css/materialize.css" rel="stylesheet" />
    <link href="../css/materialize.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <!-- İkonların çalışabilmesi için google api linki -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <title>Bil-Geç Main</title>
</head>
      <body background="../img/arkaplan.png">
      <nav class="white darken-3" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><img src="../img/bilgiproje.png"></a>
      <ul class="right hide-on-med-and-down menuler">
        <li><a href="#">Çıkış</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">

        <!-- Kullanıcı seçeneğine göre butonlar -->
        <li><a href="../view/yarisma.html" class="hvr-underline-from-left">Yeni Yarışma</a></li>
        <li><a href="../view/profile.html" class="hvr-underline-from-left">Profil</a></li>
        <li><a href="../view/main.html" class="hvr-underline-from-left">Ana Menü</a></li>
        <br>
        <li><a href="../index.html" class="hvr-underline-from-left">Çıkış</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons" style="color: black;">menu</i></a>
    </div>
  </nav>

       <div class="wrapper parent">
      <div class="child sorudiv">
         <div class="col s12 m6">
          <div class="card grey lighten-5 ">

               

            <div class="card-content white-text">
                <div class="col s2 center">
             <img class=" circle responsive-img "   src="../img/logogiris.png">
            </div>
              <span class="card-title"><font color="white"></font></span>
     <form class="col s12" id="soruEkleme">
     
     <div class="row">
    <br>
    <!-- Kullanıcı seçeneğine göre butonlar -->
            <div class="input-field col s12">
            <a href="../view/yarisma.html" id="giris" class="btn waves-effect green darken-4 col s12"><i class="material-icons left">play_circle_filled</i>Başla</a>
            

            </div>
<br>
          
    <br>   
            <div class="input-field col s12">
            <a href="../view/profile.html" id="giris" class="btn waves-effect green darken-4 col s12"><i class="material-icons left">assignment_ind</i>Profil</a>
            

            </div> <br> <br>
            <div class="row">
            <div class="input-field col s12 ">
            <a href="../view/siralama.html" class="btn waves-effect green darken-4 col s12" id="giris" class="btn waves-effect green darken-4 col s12"><i class=" large material-icons left">list</i>Sıralama</a>
          </div>
          <br>
          <div class="row">
        <div class="input-field col s12">
          <a href="../index.html" id="giris" class="btn waves-effect green darken-4 col s12"><i class="material-icons left">power_settings_new</i>Çıkış</a>
        </div>
  </div>

     
    </form>
         </div>
          </div>
        </div>
      </div>
            
        
 

</body>
</html>