<!DOCTYPE html>
<html>
<head>

  <!-- meta tagları Kütüphanesi -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	

 	<!-- Materialize JS Kütüphanesi-->
    <script src="../js/jquery-2.2.1.min.js"></script>
    <script src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/yarisma.js"></script>
    <!-- Materialize CSS Kütüphanesi-->
    <link href="../css/materialize.css" rel="stylesheet" />
    <link href="../css/materialize.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../css/yarisma.css">
    <script type="text/javascript" src="../js/basla.js"></script>

	<title>Yarışma | BilgiProje</title>
</head>
<body background="../img/arkaplan.png">

  <nav class="white darken-3" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><img src="../img/bilgiproje.png"></a>
      <ul class="right hide-on-med-and-down menuler">
        <li><a href="#">Çıkış</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
      <!-- Kullanıcı seçeneğine göre butonlar -->
        <li><a href="../view/yarisma.html" class="hvr-underline-from-left">Yeni Yarışma</a></li>
        <li><a href="../view/profile.html" class="hvr-underline-from-left">Profil</a></li>
        <li><a href="../view/main.html" class="hvr-underline-from-left">Ana Menü</a></li>
        <br>
        <li><a href="../index.html" class="hvr-underline-from-left">Çıkış</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons" style="color: black;">menu</i></a>
    </div>
  </nav>
  <div class="card teal darken-1 ">
<form class="col s12" id="soruGetirme">
<div class="wrapper parent">
  <div class="child ">
      <div class="row">
        <div class="col s12 m12 ">
        <div><img class=" circle responsive-img " src="../img/resim2.png"></div>
          <div class="card">
          <!-- Soru gelen div -->
            <div class="card-content " id="soruicerik">
              <p></p>
            </div>
            <div class="input-field col s12 secenek1">
            <!-- Soru Seçenekleri olan div -->
              <a href="#" class="waves-effect waves-light btn-large butonlar" name="secenek"><span id="secenekA">A Secenegi</span></a>
            </div>
            <div class="input-field col s12 secenek1" >
              <a href="#" class="waves-effect waves-light btn-large butonlar" name="secenek"><span id="secenekB">B Secenegi</span></a>
            </div>
            <div class="input-field col s12 secenek1" >
              <a href="#" class="waves-effect waves-light btn-large butonlar" name="secenek"><span id="secenekC">C Secenegi</span></a>
            </div>
            <div class="input-field col s12 secenek1" >
              <a href="#" class="waves-effect waves-light btn-large butonlar" name="secenek"><span id="secenekD">D Secenegi</span></a>
            </div>                        
          </div>  
        </div>
      </div>
  </div>
            
          
</div>
            <div class="input-field col s12" >
              <a href="../view/main.html" class="waves-effect waves-light btn-large butonlar" name="" id="bitir">Bitir</a>
            </div> 
</form>


</div>


</body>
</html>